- if current_user != nil
  .row
    - @my_games.each do |game|
      - if game.win_wallet == current_user.wallet
        .span4.game_one
          %table.table.table-bordered.win
            %tbody
              %tr
                %td.grey
                  = image_tag("#{game.left_motion}.png")
                  %br
                  #{wallet_hide(game.left_wallet)}
                %td.grey_1
                  = image_tag("#{game.right_motion}.png")
                  %br
                  #{wallet_hide(game.right_wallet)}
          win #{game.win_money.round(8)} BTC

      - if game.lose_wallet == current_user.wallet
        .span4.game_one
          %table.table.table-bordered.lose
            %tbody
              %tr
                %td.grey
                  = image_tag("#{game.left_motion}.png")
                  %br
                  #{wallet_hide(game.left_wallet)}
                %td.grey_1
                  = image_tag("#{game.right_motion}.png")
                  %br
                  #{wallet_hide(game.right_wallet)}
          lose #{game.win_money.round(8)} BTC

      - if game.win_wallet == nil
        .span4.game_one
          %table.table.table-bordered.draw
            %tbody
              %tr
                %td.grey
                  = image_tag("#{game.left_motion}.png")
                  %br
                  #{wallet_hide(game.left_wallet)}
                %td.grey_1
                  = image_tag("#{game.right_motion}.png")
                  %br
                  #{wallet_hide(game.right_wallet)}
          Draw - no winner

    .mbl.pbm{style: "text-align: center;"}
      = page_navigation_links(@my_games)

- if current_user == nil
  .row
    - @games.each do |game|
      .span4.game_one
        %table.table.table-bordered
          %tbody
            %tr
              %td.grey{class: "#{game.left_stat}"}
                = image_tag("#{game.left_motion}.png")
                %br
                #{wallet_hide(game.left_wallet)}
              %td.grey_1{class: "#{game.right_stat}"}
                = image_tag("#{game.right_motion}.png")
                %br
                #{wallet_hide(game.right_wallet)}
        - if game.win_wallet != nil
          #{wallet_hide(game.win_wallet)} win #{game.win_money.round(8)} BTC
        - else
          Draw - no winner
  .mbl.pbm{style: "text-align: center;"}
    = page_navigation_links(@games)