// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{background-color: #ecf0f1;}

.head_block{
  background-color: #34495e;
  margin-top: 0px;
  height: 100%;
  border-bottom: 2px solid #2c3e50;
  h1{color: white; font-size: 28px; padding-top: 5px;  }
  img{max-width: 25px; padding-top: 0px; padding-left: 15px;}
  p{color: white; padding-top: 15px;}
}


.sidebar{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #9b59b6;
  padding: 15px;
  margin-top: 25px;
  color: white;
  text-align: center;
  h6{color: #f1c40f; margin-bottom: 0px;}
  small{color:#ecf0f1;}
  a:hover, a,
  a:active{ color: #f4ff00; font-size: 12px; font-weight: 700;}
}
 input{width: 206px;}
.footer{
  text-align: center;
}

.game_block{

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  table, tbody, td, tr {border: none; text-align: center; padding: 15px;  color: white; font-weight: 700;
  margin: 0px;}
  table{padding-top: 0px; margin: 0px;}
  margin: 0px;
  padding: 0px;
  margin-right: 15px;
  margin-top: 25px;

  h4{text-align: center; }
  h6{font-size: 18px; font-weight: 700; margin-bottom: 0px;}
  hr{margin: 5px;}
  p{line-height: 15px; font-size: 14px; margin-top: 10px;}


}

.demo-row{
  margin-top: 20px;
}
.strong{
  font-weight: 700;
  font-size: 13px;
  background-color: #8e44ad;
  color: #ecf0f1;
}

.grey{
  background-color: #2c3e50;
}


.grey_next{
  background-color: #34495e;
}

.grey_1{
  background-color: #34495e;
}

.grey_1_next{
  background-color: #4a5f74;
}

.game_one{
  height: 150px;
  table, tbody, td, tr {border: none; text-align: center; padding: 15px;  color: white; font-weight: 700; margin-bottom: 5px;
  }
  td{width: 50%;}
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  margin: 15px;
  .win{background-color: #2ecc71;}
  .lose{background-color: #e74c3c;}
  .draw{background-color: #7f8c8d;}
}

.sign_in{
  h6{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
}

.info_gif{text-align: center;
margin: 15px;}