!!! 5
%html

  %head
    %title Wuzazu.me Bitcoin rock paper scissors game
    %meta{ name: 'keywords', content: "wuzazu, rock, paper, scissors, game, bitcoin" }
    %meta{ name: 'description', content: "Simple bitcoin online game. Rock-paper-scissors. Start for FREE because we give you 0.0001 BTC" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if current_user != nil
      %script{src: "http://js.pusher.com/2.1/pusher.min.js", type: "text/javascript"}
      :javascript
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
          if (window.console && window.console.log) {
            window.console.log(message);
          }
        };

        var pusher = new Pusher('2294b4cdc0b7996b9bf3');
        var channel = pusher.subscribe('test_channel');
        channel.bind('my_event', function(data) {
          alert(data.message);
        });

  %body


    .head_block
      .container
        .row
          .span4
            %h1
              Wuzazu.me
          .span8{style: "text-align: right;"}
            %p
              %strong
                Games:
              #{@games_stat.size + 500}
              %strong{style: "padding-left: 15px;"}
                Game cash:
              #{@games_money.round(6)} BTC

    .container
      .row
        .span9
          .game_block
            - if current_user == nil
              %h4
                Bitcoin rock-paper-scissors
              Rock-paper-scissors is a hand game usually played by two people, where players simultaneously form one of three shapes with an outstretched hand. The "rock" beats scissors, the "scissors" beat paper and the "paper" beats rock; if both players throw the same shape, the game is tied. Sign up and start to play.

              %br
              %div{style: "text-align:center; margin: 10px; font-size: 18px;"}
                %strong
                  Start for
                  %span{style: "color:#2ecc71;"} FREE
                  %br
                  because we give you 0.0001 BTC
              .info_gif
                =image_tag("info.gif")
            - if current_user != nil

              %table.table.table-bordered
                %tbody
                  %tr
                    %td.grey
                      = image_tag("r.png")
                      %br
                      Rock
                    %td.grey_1
                      = image_tag("p.png")
                      %br
                      Paper

                    %td.grey
                      = image_tag("s.png")
                      %br
                      Scissors
                %tbody
                  %tr
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=0&motion_type=1", class: "label label-large label-success"} BET 0.00001
                    %td.grey_1_next
                      %a{:href => "/bets/new_bet?game_size=0&motion_type=2", class: "label label-large label-success"} BET 0.00001
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=0&motion_type=3", class: "label label-large label-success"} BET 0.00001
                %tbody
                  %tr
                    %td.grey
                      %a{:href => "/bets/new_bet?game_size=1&motion_type=1", class: "label label-large label-success"} BET 0.0001
                    %td.grey_1
                      %a{:href => "/bets/new_bet?game_size=1&motion_type=2", class: "label label-large label-success"} BET 0.0001
                    %td.grey
                      %a{:href => "/bets/new_bet?game_size=1&motion_type=3", class: "label label-large label-success"} BET 0.0001
                %tbody
                  %tr
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=2&motion_type=1", class: "label label-large label-success"} BET 0.001
                    %td.grey_1_next
                      %a{:href => "/bets/new_bet?game_size=2&motion_type=2", class: "label label-large label-success"} BET 0.001
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=2&motion_type=3", class: "label label-large label-success"} BET 0.001
                %tbody
                  %tr
                    %td.grey
                      %a{:href => "/bets/new_bet?game_size=3&motion_type=1", class: "label label-large label-success"} BET 0.01
                    %td.grey_1
                      %a{:href => "/bets/new_bet?game_size=3&motion_type=2", class: "label label-large label-success"} BET 0.01
                    %td.grey
                      %a{:href => "/bets/new_bet?game_size=3&motion_type=3", class: "label label-large label-success"} BET 0.01
                %tbody
                  %tr
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=4&motion_type=1", class: "label label-large label-success"} BET 0.1
                    %td.grey_1_next
                      %a{:href => "/bets/new_bet?game_size=4&motion_type=2", class: "label label-large label-success"} BET 0.1
                    %td.grey_next
                      %a{:href => "/bets/new_bet?game_size=4&motion_type=3", class: "label label-large label-success"} BET 0.1



          = yield


        .span3
          - if current_user != nil
            %br
            %br
            .name{style: "text-align: center;"}
              Hello
              %strong
                #{wallet_hide(current_user.wallet)}
              and good luck!

            %ul.nav.nav-list.nav-list-vivid{style: "background-color: white; margin-top: 10px;"}
              %li.nav-header Statistic
              %li{style: "margin-top: 10px;"}
                All games
                %span.nav-counter #{@all_games}
              %li{style: "margin-top: 10px;"}
                Win games
                %span.nav-counter{style: "background-color: #2ecc71;"} #{@win_stat}
              %li{style: "margin-top: 10px;"}
                Lose games
                %span.nav-counter{style: "background-color: #e74c3c;"} #{@lose_stat}
              %li{style: "margin-top: 10px;"}
                Bets wait
                %span.nav-counter{style: "background-color: #f1c40f;"} #{@bets}
              %li.divider

            .sidebar{style: "background-color: #2c3e50; margin-top: 10px;"}

              %strong Your balance
              %h6{style: "color: #f4ff00;"} #{current_user.balance.round(6)} BTC
              %small
                = link_to "Logout", "/logout"

            %hr
            = render :partial => "layouts/chat"

            %br
            %a{:href => "https://coinbase.com/checkouts/df62b021b514d05901f51c701684dd0f", :target => "_blank", class: "btn btn-large btn-block btn-success btn-embossed"} Deposit
            .name{style: "text-align: center; margin: 10px;"}
              %strong NB!
              You can add bitcoins only from your profile wallet.

            %br
            %a{:href => "/bets/checkout",  class: "btn btn-large btn-block btn-info btn-embossed"} Cashout

            .name{style: "text-align: center; margin: 10px;"}
              %strong NB!
              Minimal balance to checkout = 0.001 BTC



          - if current_user == nil
            %br
            .sign_in
              = form_tag sessions_path do
                %h6 Your Wallet
                = text_field_tag :wallet, params[:wallet]
                %h6 Your password
                = password_field_tag :password
                = submit_tag "Sign in/up", class: "btn btn-large btn-block btn-success btn-embossed"
            .sidebar{style: "background-color: #34495e;"}
              %strong
                We have in-game chat

          .sidebar
            %strong
              We on
              =link_to "BitcoinTalk.org", 'https://bitcointalk.org/index.php?topic=296060.0'


          .footer
            = render :partial => "layouts/twitter"

